# Notebook 1 - Introducción a SGBD relacionales y lenguaje SQL

## 1. Un ejemplo básico de conexión a MySQL desde Python...

In [7]:
import mysql.connector
import pandas as pd
from IPython.display import display,HTML

#reemplazar 'root' por el password del usuario administrador de MySQL
db_connection = mysql.connector.connect(user="root",host="localhost",password="barcelona")
cursor = db_connection.cursor()

In [8]:
cursor.execute("USE football")
#pd.read_sql('USE football', con=db_connection)

In [9]:
df = pd.read_sql('SELECT * FROM player;', con=db_connection)
display(df)

   id_player           name    position nationality
0          1   Arturo Vidal  midfielder     chilena
1          2     Gary Medel    defender     chilena
2          3      Enzo Roco    defender     chilena
3          4  Gabriel Arias  goalkeeper     chilena

## 2. Creación de una nueva base de datos

a) Importar aquí una imagen de su modelo conceptual de datos (Modelo Entidad Asociación), actualizando esta celda.

<img src="path.png"></img>

b) Transformar su Modelo Entidad Asociación a un Modelo Relación:

...

c) Escribir el código SQL para crear la base de datos

In [1]:
#...

d) Insertar datos

In [2]:
#...

## 3. Consultas SELECT sobre la base de datos